/**@description: 公共库类 
*  @author: Tea.JY 
*  @update: Tea.JY (2016年6月20日)
*/
*{font-family:Helvetica,'microsoft yahei';}
/** 清除内外边距 **/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */
th, td /* table elements 表格元素 */ {
margin: 0;
padding: 0;
}

/** 设置默认字体 **/
address, cite, dfn, em, var, i { font-style: normal; } /* 将斜体扶正 */
code, kbd, pre, samp { font-family: courier new, courier, monospace; } /* 统一等宽字体 */
small { font-size: 12px; } /* 小于 12px 的中文很难阅读，让 small 正常化 */

/** 重置列表元素 **/
ul,ol{ list-style: none; }

/** 重置文本格式元素 **/
i{font-style: normal;}
a {text-decoration: none;color:#000;}
a:hover {text-decoration:none;}

/** 重置表单元素 **/
legend{color:#000;} /* for ie6 */
fieldset{border:0;} /* img 搭车：让链接里的 img 无边框 */
img{vertical-align: middle;border: 0;-webkit-tap-highlight-color: #fff;}
/* 注：optgroup 无法扶正 */

/** 重置表格元素 **/
table{border-spacing: 0;border-collapse: collapse;}

/** 统一表单边框 **/
input,button,textarea{border: none;background-color: #fff;-webkit-appearance:none;border-radius: 0;}
input:focus,button:focus,textarea:focus,select:focus{outline:none;}

/* textarea */
textarea{resize: none;}

/*屏蔽点击a时，产生的背景*/
a{tap-highlight-color: rgba(0,0,0,0);-webkit-tap-highlight-color: rgba(0,0,0,0);}

body,html{color: #333;height: 100%;}

/*容器浮动*/
.fl,.float-l{float:left;}
.fr,.float-r{float:right;}

/*清除浮动*/
.clearfix{*+height:1%;}
.clearfix:after{display: block;visibility: hidden;clear: both;height: 0;content: '';}
