/**@description: 公共库类 
*  @author: Tea.JY 
*  @update: Tea.JY (2016年6月20日)
*/
*{font-family:'microsoft yahei';}
/** 清除内外边距 **/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */
th, td /* table elements 表格元素 */ {
margin: 0;
padding: 0;
}

/** 设置默认字体 **/
address, cite, dfn, em, var, i { font-style: normal; } /* 将斜体扶正 */
code, kbd, pre, samp { font-family: courier new, courier, monospace; } /* 统一等宽字体 */
small { font-size: 12px; } /* 小于 12px 的中文很难阅读，让 small 正常化 */

/** 重置列表元素 **/
ul,ol{ list-style: none; }

/** 重置文本格式元素 **/
i{font-style: normal;}
a {text-decoration: none;color:#000;}
a:hover {text-decoration:none;}

/** 重置表单元素 **/
legend{color:#000;} /* for ie6 */
fieldset{border:0;} /* img 搭车：让链接里的 img 无边框 */
img{vertical-align: middle;border: 0;-webkit-tap-highlight-color: #fff;}
/* 注：optgroup 无法扶正 */

/** 重置表格元素 **/
table{border-spacing: 0;border-collapse: collapse;}

/** 统一表单边框 **/
input,button,textarea{border: none;background-color: #fff;-webkit-appearance:none;border-radius: 0;}
input:focus,button:focus,textarea:focus,select:focus{outline:none;}

/* textarea */
textarea{resize: none;}

/*屏蔽点击a时，产生的背景*/
a{tap-highlight-color: rgba(0,0,0,0);-webkit-tap-highlight-color: rgba(0,0,0,0);}

body,html{color: #333;height: 100%;}
.mt20{margin-top: 20px;}

/*容器浮动*/
.fl,.float-l{float:left;}
.fr,.float-r{float:right;}

/*清除浮动*/
.clearfix{*+height:1%;}
.clearfix:after{display: block;visibility: hidden;clear: both;height: 0;content: '';}

@font-face { font-family: DINPro;src: url('../font/DINPro-Regular.ttf');}
@font-face { font-family: plates1999;src: url('../font/plates1999.ttf');}

.container{max-width: 1720px;margin: 0 auto;width: 90%;min-width: 1229px;}

/*导航*/
.nav{ height: 80px;}
.nav .logo{ float: left;margin-top: 17px;}
.nav-list{ float: right;text-align: center;}
.nav-list a{ font-size: 16px;line-height: 1;position: relative;float: left;padding: 0 12px;color: #555658;line-height: 80px;border-bottom: 5px solid #FFF;height: 75px;}
.nav-list a:after{ position: absolute;top: 36px;left: 0;display: block;width: 7px;height: 7px;margin: auto;content: '';}
.nav-list a + a{ margin-left: 30px;}
.nav-list a.active,.nav-list a:hover{ border-bottom: 5px solid #7f2d28;}
.nav-list a.active:after,.nav-list a:hover:after{ background-color: #7f2d28;}
.nav-list span{ font-size: 12px;display: block;margin-top: 10px;text-transform: uppercase;color: #9d9d9e;}

/*页面底部*/
.footer{ font-family: 'MicrosoftYaHei-Bold';width: 100%;height: 143px;margin-top: 60px;margin-bottom: 20%;border-top: 5px solid #7f2d28;border-bottom: 2px solid #7f2d28;}
.footer .footer-contact{ font-size: 20px;float: left;box-sizing: border-box;width: 22%;padding: 36px 20px;color: #535353;}
.footer .footer-contact .tel{font-family: 'plates1999';font-size: 46px;margin-top: 12px; color: #555;}
.footer .footer-about{ font-size: 14px;line-height: 24px;float: left;box-sizing: border-box;width: 42%;padding: 36px 0 36px 72px;color: #666;border-left: 1px solid #e4e4e4;}
.footer .footer-about a{ margin-right: 15px;color: #666;}
.footer .footer-qrcoder{ position: relative;float: left;width: 18%;height: 100%;margin-left: -1px;text-align: center;border-left: 1px solid #e4e4e4;}
.footer .footer-qrcoder img{ position: absolute;top: 0;right: 0;bottom: 0;left: 0;max-width: 80%;margin: auto;}

/* 资讯列表 */
.information{ overflow: hidden;width: 100%;margin-top: 7%;}
.information .information-group{ float: left;box-sizing: border-box;width: 50%;}
.information .information-group-1{ padding-right: 50px;}
.information .information-group-2{ padding-left: 50px;}
.information-group .group-title{ margin-bottom: 30px;border-bottom: 1px solid #e4e4e4;}
.information-group .group-title h3{ font-size: 18px;font-weight: normal;line-height: 46px;display: inline-block;margin-bottom: -1px;color: #525252;border-bottom: 4px solid #95444e;}
.information-group .group-img{ float: left;width: 40%;}
.information-group .group-img img{ width: 100%;}
.information-group .group-list{ margin-left: 45%;}
.information-group .group-list a{ font-size: 14px;line-height: 37px;display: block;color: #666;}
.information-group .group-list a span{ font-size: 14px;float: right;color: #b8b8b8;}

/*页头图片*/
.header{ position: relative;width: 100%;}
.header .bg{ width: 100%;}
.header h1{font-family: '宋体';font-size: 28px;font-weight: normal; position: absolute;top: 50%;width: 100%;transform: translate(0, -50%);text-align: center;text-align: center;vertical-align: middle;color: #fff;}

/* 标题 */
.header-title{ font-size: 14px;line-height: 1;padding: 19px 0 17px 0;color: #767676;border-bottom: 2px solid #7f2d28;}
.header-title a{ color: #767676;}

/* 大红酸枝内容 */
.content{ position: relative;width: 100%;}
.content-1 > img{ position: relative;top: 0;}
.content-1 .bg{ width: 100%;}
.content-1 .text{font-family: '宋体';font-size: 100px; position: absolute;top: 12%;left: 10%;width: 280px;color: #fff;}
.content-1 .text i{font-family: '宋体';font-size: 42px;position: absolute;right: 50px;display: block;float: right; width: 1em;margin-top: -114px;margin-right: 30px;}
.content-1 .text span{ font-family: '宋体';display: inline-block;margin-top: -20px;vertical-align: super;}
.content-1 .feature{ position: absolute;top: 48%;right: 0;left: 0;width: 82%;margin: auto;}
.content-1 .feature-item{ float: left;box-sizing: border-box;width: 25%;padding: 0 5px;}
.content-1 .feature-item .feature-item-img{position: relative;overflow: hidden; width: 100%;}
.content-1 .feature-item .feature-item-img img{ width: 100%;-webkit-transition: all .4s ease-out;-moz-transition: all .4s ease-out;-o-transition: all .4s ease-out;transition: all .4s ease-out;}
.content-1 .feature-item .feature-item-img:hover img{ transform: scale(1.1);-webkit-transform: scale(1.1);-webkit-transform: scale(1.1);transform: scale(1.1);}
.content-1 .feature-item .feature-item-img span{font-family: '宋体';font-size: 64px;position: absolute;top: 50%; display: block;width: 100%;transform: translate(0, -50%);text-align: center;color: #fff;}
.content-1 .feature-item .feature-text{ font-size: 14px;line-height: 24px;height: 48px;padding: 14px 4% 22px 4%;text-align: center;color: #000;background-color: #fff;}

.content-2{ width: 100%;padding-top: 20%;padding-bottom: 7%;background: url(../images/content_bg.png) top center no-repeat;background-size: 100% auto;}
.content-2 .text{font-family: '宋体';font-size: 100px; position: absolute;top: 1%;right: 10%;width: 280px;color: #000;}
.content-2 .text i{font-family: '宋体';font-size: 42px;position: absolute;right: 50px;display: block;float: right; width: 1em;margin-top: -114px;margin-right: 30px;}
.content-2 .text span{ font-family: '宋体';display: inline-block;margin-top: -20px;vertical-align: super;}
.content-2 .issue{overflow: hidden; width: 70%;margin-left: 20%;padding: 40px 40px 40px 60px;color: #fff;background: url(../images/issue_img.jpg) top center no-repeat;background-size: 100% auto;}
.issue-item{float: left; width: 50%;}
.issue-item h3{ font-family: '宋体';margin-bottom: 15px;font-size: 26px;}
.issue-item h4{ font-size: 16px;margin-bottom: 6px;padding-left: 24px;background: url(../images/issue_point.png) left center no-repeat;background-size: 16px;}
.issue-item p{ font-size: 12px;padding-right: 100px;color: #fff;line-height: 22px;}
.issue-item .issue-list-item{ overflow: hidden;}
.issue-item .issue-list-item + .issue-list-item{ padding-top: 20px;}
.issue-item .issue-list-item-2{float: left;box-sizing: border-box; width: 40%;padding-right: 20px;}
.issue-item .issue-list-item-2 img{ width: 100%;}
.issue-item .issue-list-item-2 p{margin-top: 10px; padding-right: 0;line-height: 18px;}
.issue-item .issue-img{ width: 80px;}
.issue-item .issue-img img{float: left; width: 100%;}
.issue-item .issue-text{ margin-left: 90px;}
.issue-item-2{ width: 80%;}
.issue-item-2 .issue-list-item-2{ padding-bottom: 10px;}
.issue-item-2 .issue-list-item-2 img{ width: 60%;margin-left: 24px;}
.issue-item-2 .issue-list-item-2 h4{font-size: 12px;font-weight: normal;line-height: 22px;height: 66px; background-position: left 3px;}
.issue-item-2 .issue-list-item-2 h4.line-4{ height: 88px;}

.content-3 > img{ width: 100%;}
.content-3 .bg{ width: 100%;}
.content-3 .text{font-family: '宋体';font-size: 100px; position: absolute;top: 9%;left: 10%;width: 280px;color: #fff;}
.content-3 .text i{font-family: '宋体';font-size: 42px;position: absolute;right: 50px;display: block;float: right; width: 1em;margin-top: -114px;margin-right: 30px;}
.content-3 .text span{ font-family: '宋体';display: inline-block;margin-top: -20px;vertical-align: super;}
.content-3 .content-title{ padding: 3% 0;text-align: center;}
.content-3 .content-title h3{ font-family: '宋体';font-size: 42px;font-weight: normal;}
.content-3 .content-des{ overflow: hidden;width: 82%;margin: 0 auto;}
.content-3 .des-item{ position: relative;overflow: hidden;background-color: #f5f5f5;}
.content-3 .des-item .des-text{ font-size: 16px;line-height: 24px;position: absolute;top: 50%;box-sizing: border-box;width: 50%;padding: 0 12.5%;transform: translate(0, -50%);color: #333;}
.content-3 .des-item .des-text.right{ right: 0;}
.content-3 .des-item .des-text i{font-family: '宋体';font-size: 51px; display: block;width: 50px;height: 46px;margin: 0 auto 20px auto;}
.content-3 .des-item .des-img{position: relative;overflow: hidden; width: 50%;}
.content-3 .des-item .des-img img{ width: 100%;-webkit-transition: all .4s ease-out;-moz-transition: all .4s ease-out;-o-transition: all .4s ease-out;transition: all .4s ease-out;}
.content-3 .des-item .des-img:hover img{ transform: scale(1.1);-webkit-transform: scale(1.1);-webkit-transform: scale(1.1);transform: scale(1.1);}
.content-3 .des-item .des-img span{font-family: '宋体';font-size: 105px;position: absolute;top: 50%;right: 0;left: 0;display: block;box-sizing: border-box; width: 285px;width: 285px;height: 285px;height: 285px;margin: auto;padding: 20px 0;transform: translate(0, -50%);text-align: center;color: #fff;background: url(../images/hainan_img_bg.png) center center no-repeat;line-height: 130px;}
.content-3 .des-item .des-text:after{ position: absolute;top: 0;right: -20px;bottom: 0;display: block;width: 0;height: 0;margin: auto;content: '';border-top: 20px solid transparent;border-bottom: 20px solid transparent;border-left: 40px solid #f5f5f5;}
.content-3 .des-item .des-text.right:after{ right: auto;left: -20px;border-top: 20px solid transparent;border-right: 40px solid #f5f5f5;border-bottom: 20px solid transparent;border-left: none;}

/* 海南黄花梨内容 */
.content .banner{ width: 100%;}
.content .banner img{ width: 100%;}
.content-hainan .content-1 .feature-item{ float: left;box-sizing: border-box;width: 33.33%;padding: 0 5px;}
.content-hainan .content-1{ margin-top: 6%;}
.content-hainan .content-1 .text{top: 8%; right: 10%;left: auto;}
.content-hainan .content-1 .feature{ top: 45%;}
.content-hainan .content-1 .feature img{ width: 100%;}
.content-hainan .content-1 .feature-text{ height: auto;}
.content-hainan .content-1 .feature-text h3{font-family: '宋体'; font-size: 26px;margin-top: 24px;margin-bottom: 8px;color: #333;}
.content-hainan .content-1 .feature-text span{font-family: '宋体'; font-size: 18px;display: block;margin-bottom: 8px;color: #939393;}
.content-hainan .content-1 .feature-text p{ display: block;min-height: 120px;color: #333;}
.content-hainan .content-1 .introduce{position: absolute;top: 32%;right: 0;left: 0; width: 90%;margin: auto;}
.content-hainan .content-3 .content-des{ margin-top: 6%;border-top: 2px solid #7f2d28;border-bottom: 2px solid #7f2d28;}
.content-hainan .content-3 .des-item .des-text{ font-size: 14px;padding: 0 6%;}
.content-hainan .content-3 .des-item .des-text p{line-height: 32px;}

.introduce .introduce-item{position: relative;overflow: hidden;margin-bottom: 20px;padding: 20px 0; background-color: #fff;}
.introduce .introduce-item .introduce-img{ width: 50%;}
.introduce .introduce-item .introduce-img span{ display: block;float: left;box-sizing: border-box;width: 50%;padding-left: 20px;}
.introduce .introduce-item .introduce-img span img{ width: 100%;}
.introduce .introduce-item .introduce-text{position: absolute;top: 50%;right: 0;display: block;box-sizing: border-box;width: 50%;padding-right: 30px; padding-left: 30px;transform: translate(0, -50%);}
.introduce .introduce-item .introduce-text h3{font-family: '宋体'; font-size: 24px;font-weight: normal;margin-bottom: 12px;margin-left: -10px;color: #333;}
.introduce .introduce-item .introduce-text h4{font-family: '宋体';font-size: 20px;font-weight: normal; color: #939393;margin-bottom: 10px;}
.introduce .introduce-item .introduce-text li{ font-size: 12px;line-height: 28px;position: relative;padding-left: 20px;}
.introduce .introduce-item .introduce-text li i{font-size: 10px;line-height: 14px;position: absolute;top: 6px;left: 0; display: inline-block;width: 14px;height: 14px;text-align: center;border: 1px solid #000;border-radius: 7px;}
.introduce .introduce-item-2{ margin-bottom: 0;}
.introduce .introduce-item-2 .introduce-text li{ padding-left: 0;}
.introduce .introduce-item-2 + .introduce-item{ padding-top: 0;}

/* 私人定制 */
.content .banner-data{ overflow: hidden;padding: 3% 6% 4% 6%;background-color: #f6f6f6;}
.content .banner-data > img{ float: right;width: 20.6%;margin: 0 6px;}
.content .banner-data .banner-text{ float: left;width: 26%;margin-right: 6%;margin-left: 2%;}
.content .banner-data .banner-text p{ font-size: 14px;color: #333;line-height: 28px;}
.content .banner-data .banner-text h3{font-family: '宋体';font-size: 24px;line-height: 1; margin-bottom: 10px;padding-bottom: 8px;border-bottom: 2px solid #7f2d28;}
.content .banner-data .banner-text p + h3{ margin-top: 30px;}

.content-customized .content-title{ padding: 3% 0 1% 0;border-bottom: 1px solid #7f2d28;}
.content-customized .content-title h2{ font-family: '宋体';font-size: 26px;line-height: 26px;height: 26px;color: #333;}
.content-customized .content-title h2 i{font-family: 'microsoft yahei'; font-size: 22px;font-weight: normal;margin-left: 12px;color: #8b8b8b;}
.customized > img{ width: 100%;}
.customized-1{ position: relative;overflow: hidden;background-color: #fbfbfd;}
.customized-1 .customized-img{ width: 60%;}
.customized-1 .customized-img img{ width: 100%;}
.customized-1 .customized-text{ position: absolute;top: 50%;margin-left: 60%;padding: 0 4%;transform: translate(0, -50%);}
.customized-1 .customized-text span{font-family: '宋体'; font-size: 20px;}
.customized-1 .customized-text > img{ width: 62%;}
.customized-1 .customized-text ul{ font-size: 12px;width: 100%;margin-top: 40px;color: #333;}
.customized-1 .customized-text ul li{ padding-left: 20px;background: url(../images/customized_point.png) left center no-repeat;background-size: 10px;}
.customized-1 .customized-text ul li + li{ margin-top: 20px;}
.customized-2{ background: #f6f6f6;}
.customized-2 .step{width: 90%;margin: 0 auto; padding: 5% 0;}
.customized-2 .step .step-logo{ float: left;margin-top: 30px;}
.customized-2 .step .step-container{margin-left: 42px;}
.customized-2 .step .step-list{position: relative;width: 1330px;margin: 0 auto;}
.customized-2 .step .step-list:before{ position: absolute;z-index: 1;top: 55px;right: 0;left: 0;display: block;width: 1100px;height: 2px;margin: auto;content: '';background-color: #7f2d28;}
.customized-2 .step-list .step-item{float: left; width: 150px;margin: 0 20px;text-align: center;}
.customized-2 .step-list .step-item img{position: relative;z-index: 2; width: 110px;}
.customized-2 .step-list .step-item h4{font-family: '宋体'; font-size: 18px;font-weight: normal;margin: 10px 0 5px 0;color: #333;}
.customized-2 .step-list .step-item p{ font-size: 12px;line-height: 26px;height: 104px;color: #333;}
.customized-2 .customized-step{ float: left;overflow: hidden;width: 23%;}
.customized-2 .customized-step .customized-step-item{position: relative;float: left; width: 50%;}
.customized-2 .customized-step .customized-step-item span{font-family: '宋体';font-size: 24px; position: absolute;top: 0;right: 0;bottom: 0;left: 0;width: 50px;height: 50px;margin: auto;color: #fff;}
.customized-2 .customized-step .step-item-2{ width: 100%;}
.customized-2 .customized-step .step-item-2 span{ width: 100px;}
.customized-2 .customized-step .customized-step-item img{ width: 100%;-webkit-transition: all .4s ease-out;-moz-transition: all .4s ease-out;-o-transition: all .4s ease-out;transition: all .4s ease-out;}
.customized-2 .customized-step .customized-step-item:hover img{ transform: scale(1.1);-webkit-transform: scale(1.1);-webkit-transform: scale(1.1);transform: scale(1.1);}
.customized-2 .video{ float: left;width: 54%;}
.customized{ position: relative;}
.customized-list{position: absolute;z-index: 999;top: 50%;margin-left: 62px;transform: translate(0, -50%); border-left: 2px solid #7f2d28;}
.customized-list .customized-item{margin-left: -6px;padding-left: 25px; background: url(../images/customized_point.png) left center no-repeat;background-size: 10px;}
.customized-list .customized-item + .customized-item{ margin-top: 20px;}
.customized-list .customized-item span{ font-family: '宋体';font-size: 20px;}
.customized-list .customized-item p{ font-size: 14px;margin-top: 5px;}
@media screen and (max-width: 1780px){
	.customized-2 .step .step-list{margin-left: 35px;width: 1190px;}
	.customized-2 .step-list .step-item{margin: 0 10px;text-align: center;}
}
@media screen and (max-width: 1600px){
	.customized-2 .step .step-logo{margin-left: 10px;}
	.customized-2 .step .step-list{margin-left: 80px;width: 1085px;}
	.customized-2 .step-list .step-item{width: 135px;}
	.customized-2 .step .step-list:before{width: 860px;}
}
@media screen and (max-width: 1500px){
	.customized-2 .step .step-list{margin-left: 80px;width: 980px;}
	.customized-2 .step-list .step-item{width: 120px;}
	.customized-2 .step .step-list{margin-left: 50px;}
}

/*Banner*/
.swiper-container{ position: relative;}
.swiper-pagination span.swiper-pagination-bullet{ width: 50px;height: 3px;opacity: 1;border-radius: 0;background-color: #fff;}
.swiper-pagination span.swiper-pagination-bullet-active{ background-color: #7f2d28;}
.swiper-prev{ position: absolute;z-index: 999;top: 0;bottom: 0;left: 4%;width: 32px;height: 64px;margin: auto;background: url(../images/prev.png) center center no-repeat;}
.swiper-next{ position: absolute;z-index: 999;top: 0;right: 4%;bottom: 0;width: 32px;height: 64px;margin: auto;background: url(../images/next.png) center center no-repeat;}
.banner-swiper a{position: relative; display: block;}
.banner-swiper a .title{font-family: '宋体';font-size: 66px;position: absolute;top: 50%;right: 0;left: 0;margin: auto;transform: translate(0,-50%);-webkit-transform: translate(0,-50%);-moz-transform: translate(0,-50%);-o-transform: translate(0,-50%);text-align: center; color: #fff;}

/*联系我们 */
.about-content{ overflow: hidden;margin-top: 6%;padding-left: 14%;}
.about-content .map{ float: left;width: 45%;height: 450px;}
.about-content .about-contact{ float: left;margin-left: 6%;}
.about-content .about-contact h2{ font-size: 20px;font-weight: normal;position: relative;margin-top: 4%;color: #333;}
.about-content .about-contact h2:after{ position: absolute;top: 0;bottom: 0;left: 0;left: -16px;display: block;width: 6px;height: 18px;margin: auto;content: '';background-color: #924e49;}
.about-content .about-contact h2 span{ font-size: 20px;text-transform: uppercase;color: #924e49;}
.about-content .about-contact .mobile{ font-family: 'DINPro';font-size: 37px;margin-top: 37px;margin-bottom: 20px;color: #333;}
.about-content .about-contact h3{ font-size: 14px;font-weight: normal;}
.about-content .about-qrcode{ width: 60%;margin: 20% auto 0 auto;}
.about-content .about-qrcode img{ width: 100%;}

/*一键预约*/
.about-reservation{ overflow: hidden;margin-top: 4%;padding: 2% 4%;border: 1px solid #ddd;background: url(../images/logo_opacity.png) 95% center no-repeat;}
.about-reservation h3{ font-size: 16px;font-weight: normal;margin-bottom: 18px;color: #333;}
.about-reservation h3 span{ font-size: 12px;margin-left: 20px;color: #999;}
.about-input{ float: left;width: 15%;height: 40px;margin-right: 15px;border: solid 1px #ddd;}
.about-input input[type=text]{ box-sizing: border-box;width: 100%;height: 100%;padding-left: 40px;}
.about-input .name{ background: url(../images/input_icon_01.png) 12px center no-repeat;}
.about-input .mobile{ background: url(../images/input_icon_02.png) 12px center no-repeat;}
.about-input .city{ background: url(../images/input_icon_03.png) 12px center no-repeat;}
.about-input .btn{ font-size: 16px;width: 100%;height: 100%;color: #fff;color: #ddd;background-color: #7f2d28;}
.reservation-list{ font-size: 14px;line-height: 1;line-height: 40px;overflow: hidden;width: 100%;height: 40px;margin-top: 15px;padding-left: 30px;color: #333;background: url(../images/input_icon_04.png) 0 center no-repeat;}
.reservation-list span{ color: #999;}

/* 主页 */
.production-swiper{ position: relative;float: left;box-sizing: border-box;width: 33.33%;border-right: 1px solid #f1f1f1;}
.production-swiper .swiper-container{ width: 66.6%;}
.production-swiper .swiper-prev,.production-swiper .swiper-next{ width: 16px;height: 32px;background-size: cover;}
.production-list{ display: flex;float: left;width: 66.67%;text-align: center;}
.production-list .production-item{ float: left;flex: 1;}
.production-list .production-item .production-text{font-family: '宋体'; font-size: 25px;width: 86px;margin: 0 auto;padding: 14px 0;color: #fff;background-color: #7f7f7f;}

.index-production{ margin: 3% 0;}
.index-production-title{ font-size: 16px;line-height: 26px;display: block;height: 26px;margin-bottom: 1%;text-transform: uppercase;color: #666;}
.index-production-title:before{ display: inline-block;float: left;width: 5px;height: 60%;margin-top: 4px;margin-right: 10px;content: '';background-color: #7f2d28;}
.production-list p{ font-size: 16px;margin: 12px 0;color: #7f2d28;line-height: 22px;}
.production-list span{ font-size: 14px;color: #666;}

.content-index .content-title{ position: relative;padding: 3% 0 1% 0;border-bottom: 1px solid #7f2d28;}
.content-index .content-title h2{ font-family: '宋体';font-size: 26px;line-height: 26px;height: 26px;color: #333;}
.content-index .content-title .title-more{ position: absolute;right: 0;bottom: 0;display: inline-block;height: 36px;padding: 0 20px;background-color: #7f2d28;line-height: 36px;}
.content-index .content-title .title-more a{ font-size: 12px;display: inline-block;height: 100%;color: #fff;}
.index-product{ text-align: center;}
.index-product{ overflow: hidden;margin: 3% auto 0 auto;width: 1168px;}
.index-product .product-item{ position: relative;float: left;box-sizing: border-box;width: 280px;height: 280px;padding: 8px;overflow: hidden;}
.index-product .product-item.input{ padding: 8px 0;}
.index-product .product-item img{ width: 100%;-webkit-transition: all .4s ease-out;-moz-transition: all .4s ease-out;-o-transition: all .4s ease-out;transition: all .4s ease-out;}
.index-product .product-item:hover img{ transform: scale(1.1);-webkit-transform: scale(1.1);-webkit-transform: scale(1.1);transform: scale(1.1);}
.index-product .product-item span{ font-size: 16px;position: absolute;top: 50%;left: 4px;display: block;box-sizing: border-box;width: 100%;margin: 0 -4px;padding: 0 4px;transform: translate(0, -50%);transform: translate(0,-50%);-webkit-transform: translate(0,-50%);-moz-transform: translate(0,-50%);-o-transform: translate(0,-50%);text-align: center;color: #ddd;}
.index-product .product-item.input span{ box-sizing: border-box;height: 100%;padding: 8px;}
.index-product .product-item .input-content{ position: relative;overflow: hidden;width: 100%;height: 100%;background: #f1f1f1;}
.index-product .product-item .input-content h3{ font-size: 16px;font-weight: normal;display: block;margin: 20px 0 60px 16px;text-align: left;color: #313131;}
.index-product .product-item .input-content input{ box-sizing: border-box;width: 90%;height: 32px;margin-bottom: 8px;padding: 0 8px;}
.index-product .product-item .input-content .btn{ font-size: 14px;position: absolute;bottom: 8px;left: 16px;color: #fff;background-color: #7f2d28;width: 230px;}

.index-area{ position: relative;overflow: hidden;}
.index-area .area-banner{ float: left;width: 65.86%;}
.index-area .area-map{ float: left;width: 34.14%;}
.index-area img{ width: 100%;}
.index-area .swiper-text{ position: absolute;top: 0;left: 0;color: #fff;}
.index-area .swiper-text h3{ font-family: '宋体';font-weight: normal;}
.index-area .swiper-text span{ font-family: '宋体';}

.index-reason{ position: relative;}
.index-reason > img{ width: 100%;}
.reason-list{ position: absolute;top: 50%;right: 0;left: 0;width: 88%;margin: auto;transform: translate(0, -50%);transform: translate(0,-50%);-webkit-transform: translate(0,-50%);-moz-transform: translate(0,-50%);-o-transform: translate(0,-50%);}
.reason-list .reason-item{ float: left;box-sizing: border-box;width: 20%;padding: 10px;}
.reason-list .reason-item .reason-img{ position: relative;overflow: hidden;text-align: center;box-shadow: 1px 2px 5px 0px rgba(6, 0, 1, 0.12);}
.reason-list .reason-item .reason-img img{ width: 100%;-webkit-transition: all .4s ease-out;-moz-transition: all .4s ease-out;-o-transition: all .4s ease-out;transition: all .4s ease-out;}
.reason-list .reason-item .reason-img:hover img{ transform: scale(1.1);-webkit-transform: scale(1.1);-webkit-transform: scale(1.1);transform: scale(1.1);}
.reason-list .reason-item .reason-img span{font-family: '宋体';font-size: 96px; position: absolute;top: 50%;right: 0;left: 0;margin: 0 auto;transform: translate(0, -50%);transform: translate(0,-50%);-webkit-transform: translate(0,-50%);-moz-transform: translate(0,-50%);-o-transform: translate(0,-50%);color: #fff;}
.reason-list .reason-item .reason-text{padding-bottom: 20px; text-align: center;background-color: #fff;}
.reason-list .reason-item .reason-text h3{ font-family: '宋体';font-size: 24px;padding: 30px 0 17px 0;color: #373737;}
.reason-list .reason-item .reason-text span{ font-size: 14px;display: block;height: 57px;color: #868686;line-height: 22px;}

.index-brands{ position: relative;}
.index-brands > img{ width: 100%;}
.index-brands .brands-num{ position: absolute;top: 60px;left: 80px;}
.index-brands .brands-num .brands-num-item{ float: left;}
.index-brands .brands-num i{font-family: '宋体'; font-size: 65px;float: left;color: #cacaca;}
.index-brands .brands-num span{font-family: '宋体';font-size: 18px;display: block;width: 230px;margin-top: 16px;margin-left: 10px; color: #cacaca;}
.index-brands .brands-text{ position: absolute;top: 50%;right: 80px;width: 400px;transform: translate(0, -50%);transform: translate(0,-50%);-webkit-transform: translate(0,-50%);-moz-transform: translate(0,-50%);-o-transform: translate(0,-50%);}
.index-brands .brands-text p{ font-size: 14px;margin-top: 35px;color: #cbcbcb;}
.index-certificate{ overflow: hidden;padding: 3% 0;}
.index-certificate .index-certificate-item{width: 16.66%;float: left;overflow: hidden;}
.index-certificate .index-certificate-item img{ width: 100%;-webkit-transition: all .4s ease-out;-moz-transition: all .4s ease-out;-o-transition: all .4s ease-out;transition: all .4s ease-out;}
.index-certificate .index-certificate-item:hover img{transform: scale(1.1);-webkit-transform: scale(1.1);-webkit-transform: scale(1.1);transform: scale(1.1);}
.information-index{ margin-top: 0;}

.index-evaluation{ overflow: hidden;margin: 3% -11px 0 -11px;padding: 5px;}
.index-evaluation .evaluation-item{ float: left;box-sizing: border-box;width: 25%;padding: 0 11px;}
.index-evaluation .evaluation-item a{ display: block;overflow: hidden;border-radius: 5px;box-shadow: 0 0 5px 0 rgba(4, 0, 0, .18);}
.index-evaluation .evaluation-item img{ width: 100%;}
.index-evaluation .evaluation-item .eval-text{ padding: 0 30px;}
.index-evaluation .evaluation-item .eval-text h3{ font-size: 16px;font-weight: normal;padding: 16px 0;color: #666;}
.index-evaluation .evaluation-item .eval-text p{ font-size: 14px;display: block;min-height: 150px;color: #818181;line-height: 24px;}
.eval-time{ font-size: 14px;padding: 10px 30px;color: #666;border-top: 1px solid #f1f1f1;}

.area-swiper-tab{ position: absolute;z-index: 999;bottom: 8%;box-sizing: border-box;width: 100%;padding-left: 7%;}
.area-swiper-tab .tab-item{ font-size: 12px;display: inline-block;padding: 1%;cursor: pointer;color: #7f2d28;border: 1px solid #7f2d28;background-color: #ddd;}
.area-swiper-tab .tab-item.active{ color: #ddd;background-color: #7f2d28;}

/*海南黄花梨-首页*/
.index-hainan{ position: relative;}
.index-hainan .bg{ width: 100%;}
.index-hainan-main{ position: absolute;top: 3%;right: 0;left: 0;width: 86.4%;margin: 0 auto;}
.index-hainan-main img{ width: 100%;}
.index-hainan .hainan-list{ margin: 0 -11px;}
.index-hainan .hainan-list .hainan-item{ float: left;box-sizing: border-box;width: 25%;margin-top: 3%;padding: 0 11px;}
.index-hainan .hainan-list .hainan-item .hainan-item-img{ position: relative;overflow: hidden;}
.index-hainan .hainan-list .hainan-item .hainan-item-img img{ -webkit-transition: all .4s ease-out;-moz-transition: all .4s ease-out;-o-transition: all .4s ease-out;transition: all .4s ease-out;}
.index-hainan .hainan-list .hainan-item .hainan-item-img:hover img{ transform: scale(1.1);-webkit-transform: scale(1.1);-webkit-transform: scale(1.1);transform: scale(1.1);}
.index-hainan .hainan-list .hainan-item span{font-family: '宋体';font-size: 52px;position: absolute;top: 50%;left: 50%;display: block;box-sizing: border-box;width: 160px;height: 160px;margin: -80px 0 0 -80px ;padding: 18px;text-align: center;color: #fff; background: url(../images/hainan_bg.png) center center no-repeat;background-size: 160px 160px;line-height: 64px;}
.index-hainan .hainan-list .hainan-item p{ font-size: 14px;display: block;min-height: 220px;padding: 32px;color: #878787;background-color: #f1f1f1;line-height: 24px;}

.index-product-1{ overflow: hidden;margin: 3% -3px 0 -3px;}
.index-product-1 .index-product-item{ float: left;box-sizing: border-box;width: 14.28%;padding: 0 3px;}
.index-product-1 .index-product-item .product{position: relative;overflow: hidden; width: 100%;}
.index-product-1 .index-product-item img{ width: 100%;-webkit-transition: all .4s ease-out;-moz-transition: all .4s ease-out;-o-transition: all .4s ease-out;transition: all .4s ease-out;}
.index-product-1 .index-product-item:hover img{ transform: scale(1.1);-webkit-transform: scale(1.1);-webkit-transform: scale(1.1);transform: scale(1.1);}
.index-product-1 .index-product-item span{ font-size: 14px;position: absolute;top: 50%;left: 0;box-sizing: border-box;width: 100%;padding: 0 3px;text-align: center;color: #fff;}

/*精品甄选*/
.product-left{ float: left;width: 260px;}
.product-left .product-title{ font-size: 16px;line-height: 40px;height: 40px;margin-top: 36px;padding-left: 26px;color: #fffefe;background-color: #7f2d28;}
.product-left .recommend-list{ overflow: hidden;margin-top: 15px;}
.product-left .recommend-list .recommend-item{ float: left;box-sizing: border-box;width: 50%;padding: 4px;}
.product-left .recommend-list a{ display: block;}
.product-left .recommend-list a img{ width: 100%;border: 1px solid #ebebeb;}
.product-left .recommend-list a span{ font-size: 14px;line-height: 20px;color: #808080;}
.product-left .new-list{margin-top: 10px;}
.product-left .new-list a{ font-size: 14px;line-height: 35px;display: block;color: #666;}

.product-right{ margin-left: 320px;padding-top: 36px;}
.product-right .product-category{ padding-bottom: 10px;border-bottom: 1px solid #ddd;}
.product-right .category{ font-size: 14px;line-height: 32px;overflow: hidden;color: #333;}
.product-right .category-type{ float: left;width: 80px;}
.product-right .category-list a{ margin-right: 20px;}
.product-right .category-list a.active,.category-list a:hover{ color: #7f2d28;}
.product-right .product-list{ overflow: hidden;margin: 0 -20px;padding: 20px 0;}
.product-right .product-list .product-item{ float: left;box-sizing: border-box;width: 25%;padding: 0 20px;text-align: center;}
.product-right .product-list .product-item img{ box-sizing: border-box;width: 100%;border: 1px solid #ddd;}
.product-right .product-list .product-item span{ font-size: 14px;line-height: 42px;color: #808080;}

.product-page{ font-size: 12px;margin-top: 50px;text-align: center;color: #666;}
.product-page a{ line-height: 34px;display: inline-block;width: 34px;height: 34px;margin: 0 2px;text-align: center;color: #666;border: 1px solid #ddd;background-color: #f7f7f7;}
.product-page .button{ width: auto;padding: 0 10px;}
.product-page .disable{ color: #ddd;}
.product-page .active{ color: #e4393c;border-color: #fff;background-color: #fff;}
.product-page input{ width: 34px;height: 34px;margin-left: 10px;text-align: center;border: 1px solid #ddd;background-color: #f7f7f7;}
.product-page span{ margin: 0 10px;}

/*品牌之说*/
.brands-item{ position: relative;}
.brands-item img{ width: 100%;}
.brands-item .title{ position: absolute;top: 20%;right: 6%;width: 35%;}
.brands-item .title i{ font-family: '宋体';}
.brands-item .title i.l{ position: absolute;left: -80px;}
.brands-item .title h2{ font-family: '宋体';font-size: 88px;color: #fff;}
.brands-item .title p{ font-size: 18px;position: relative;width: 275px;margin-top: 34px;padding-top: 31px;color: #fff;border-top: 2px solid #fff;}
.brands-item .text{ position: absolute;position: absolute;top: 10%;left: 6%;box-sizing: border-box;width: 674px;padding: 47px 53px;background-color: rgba(255, 255, 255, .5);}
.brands-item .text span{ font-family: '宋体';font-size: 44px;padding-bottom: 3px;color: #000;border-bottom: 3px solid #000;}
.brands-item .text h3{ font-family: '宋体';font-size: 36px;margin: 20px -30px;color: #000;}
.brands-item .text p{ font-size: 16px;display: block;width: 380px;color: #000;}
.brands-item .text .text-img{ margin-top: 34px;}
.brands-item .text .text-img img{ width: 254px;}
.brands-item .text .text-img img + img{ width: 254px;margin-left: 28px;}

.journey-item{ position: relative;}
.journey-item img{ width: 100%;}
.journey-item .journey-data{ position: absolute;top: 50%;right: 9.3%;left: 9.3%;transform: translate(0, -50%);transform: translate(0,-50%);-webkit-transform: translate(0,-50%);-moz-transform: translate(0,-50%);-o-transform: translate(0,-50%);}
.journey-item .journey-text{ float: left;box-sizing: border-box;box-sizing: border-box;width: 45%;height: 380px;padding: 50px 80px 50px 30px;opacity: .8;background-color: #fff;}
.journey-item .journey-img{ float: right;box-sizing: border-box;width: 55%;height: 380px;padding-left: 20px;}
.journey-item .journey-img img{ width: 100%;height: 100%;}
.journey-item .journey-text h3{ font-size: 32px;font-weight: normal;}
.journey-item .journey-text span{ font-size: 36px;display: block;margin: 10px 0;text-transform: uppercase;}
.journey-item .journey-text p{ font-size: 14px;color: #666464;line-height: 21px;}
.journey-item .journey-text a{ font-size: 16px;display: inline-block;margin-top: 40px;padding: 12px 32px;border: solid 1px #050001;}

.journey-map{ text-align: center;background-color: #f8f8f8;padding-bottom: 40px;}
.journey-map .title{font-family: '宋体';font-size: 36px; padding: 30px 0;color: #3c3c3c;}
.journey-map span{ font-size: 14px;display: block;margin-bottom: 50px;color: #3c3c3c;line-height: 20px;}
.journey-map .journey-list{ width: 80%;margin: 0 auto;}
.journey-map .journey-item{ float: left;box-sizing: border-box;width: 20%;padding: 10px;cursor: pointer;text-transform: uppercase;padding: }
.journey-map .journey-item.active span,.journey-map .journey-item:hover span{ color: #fff;border-color: #7f2d28;background-color: #7f2d28;box-shadow: 0 0 4px 0 rgba(4, 0, 0, .17);}
.journey-map .journey-item span{ padding: 10px 0;border: 1px solid #050001;}

/*视频模块*/
.video-container{ position: relative;overflow: hidden;width: 100%;height: 100%;background-color: #000;}
.video-container video{ position: absolute;top: 0;left: 0;cursor: pointer;}
.video-container .controls{ position: absolute;width: 100%;height: 100%;background-color: rgb(0,0,0,.8);}
.video-container .controls.active{ background: rgba(0,0,0,0);}
.video-container .controls:hover .playTags{ opacity: 1;}
.video-container .playBtn{ line-height: 50px;position: absolute;top: 0;right: 0;bottom: 0;left: 0;width: 50px;height: 50px;margin: auto;cursor: pointer;text-align: center;color: #fff;background: url(../images/play_btn.png) center center no-repeat;background-size: cover;}
.video-container .controls.active .playBtn{ opacity: 0;background: url(../images/stop.png) center center no-repeat;background-size: cover;}
.video-container .controls.active:hover .playBtn{ opacity: 1;}
.video-container .controls .playTags{ position: absolute;right: 0;bottom: 30px;left: 0;width: 80%;height: 4px;margin: 0 auto;transition: opacity .5s;opacity: 0;}
.video-container .controls .playTags .title{ font-size: 12px;line-height: 40px;position: absolute;top: -35px;color: #fff;}
.video-container .controls .playTags .time{ font-size: 12px;line-height: 40px;position: absolute;top: -35px;right: 0;color: #fff;}
.video-container .controls .fullscreen{position: absolute;width: 30px;height: 30px;background: url(../images/fullscreen.png) center center no-repeat;background-size: 60% auto;right: -40px;top: -13px;}
.video-container .playTagsLine{ position: relative;width: 100%;height: 4px;cursor: pointer;border: 1px solid #6c6c6c;border-radius: 2px;background-color: #4a4a4a;}
.video-container .progressWrap{ position: absolute;z-index: 2;left: 0;width: 0;height: 100%;transition: all linear 1s;background-color: #fff;}
.video-container .progressBuffer{ position: absolute;z-index: 1;left: 0;width: 0;height: 100%;}
.video-container .progressBuffer span{ display: block;float: left;width: 0;height: 100%;background: #4b4c4d;}

/*右侧固定悬浮模块*/
.fixed{ position: fixed;z-index: 9999;top: 300px;right: 10px;}
.fixed .fixed-item{ position: relative;width: 82px;padding-bottom: 10px;cursor: pointer;text-align: center;border-radius: 3px;background-color: #924e49;}
.fixed .fixed-item img{ margin-top: 10px;}
.fixed .fixed-item + .fixed-item{ margin-top: 10px;}
.fixed .fixed-item span{ font-size: 14px;display: block;color: #eee;}
.fixed .fixed-item .qr{ padding-bottom: 10px;background-color: #eee;}
.fixed .hover{ font-size: 14px;position: absolute;top: 0;right: 92px;bottom: 0;box-sizing: border-box;margin: auto;padding: 14px 10px;transition: all 1s;transform: translate(100%, 0);-webkit-transform: translate(100%, 0);-moz-transform: translate(100%, 0);-o-transform: translate(100%, 0);opacity: 0;color: #924e49;border: 1px solid #924e49;border-radius: 3px;background-color: #fff;}
.fixed .hover:before,.fixed .hover:after{ font-size: 0;position: absolute;display: block;overflow: hidden;width: 0;height: 0;content: '';}
.fixed .hover:before{ top: 0;right: -20px;bottom: 0;margin: auto;border-width: 10px;border-style: dashed dashed dashed solid;border-color: transparent transparent transparent #924e49;}
.fixed .hover:after{ top: 0;right: -18px;bottom: 0;margin: auto;border-width: 10px;border-style: dashed dashed dashed solid;border-color: transparent transparent transparent #fff;}
.fixed .fixed-item:hover .hover{ display: block;transform: translate(0,0);opacity: 1;}

/*视频弹层*/
.video-madal{position: fixed;background: rgba(0,0,0,.9);width: 80%;height: 80%;z-index: 999;top: 0;bottom: 0;left: 0;right: 0;margin: auto;display: none;}
.video-madal .close{position: absolute;right: -50px;top: 0;width: 50px;height: 50px;background: url(../images/video_close.png) center center no-repeat,rgba(0,0,0,.6);background-size: 75%;z-index: 9999;cursor: pointer;}

@media screen and (max-width: 1440px){
	.nav-list a + a{ margin-left: 15px;}

	.footer .footer-contact .tel{font-size: 32px;}

	.index-brands .brands-num{ position: absolute;top: 60px;left: 30px;}
	.content-1 .feature-item .feature-item-img span{font-size: 42px;}
	.content-3 .des-item .des-img span{font-size: 68px;width: 200px;height: 200px;padding: 20px 0;background-size: 200px;line-height: 80px;}
	.index-evaluation .evaluation-item .eval-text p{min-height: 208px;}
	.index-hainan .hainan-list .hainan-item p{min-height: 240px}
	.journey-item .journey-text span{ font-size: 30px;}
}